/* Reset some default styles */
body, h1, ul, figure {
  margin: 0;
  padding: 0;
}


body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  margin: 20px 0;
  font-size: 2em;
  color: #444;
}

#gallery {
  width: 80%;
  max-width: 1200px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
}

figure {
  text-align: center;
  margin-bottom: 20px;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

figcaption {
  margin-top: 10px;
  font-size: 1.2em;
  color: #666;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}

li {
  margin: 10px;
}

li img {
  width: 150px;
  height: auto;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.3s, opacity 0.3s;
}

li img:hover {
  transform: scale(1.1);
}

.inactive {
  opacity: 0.25;
}

li.active img {
  border: 2px solid #444;
}
